In [44]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

# Análise de Dados: Vendas de Cursos Online

### Vamos utilizar uma base de dados de vendas de cursos online e iremos fazer: 
1. calculo da receita total gerada pela venda dos cursos.
2. identificar o curso com o maior numero de vendas.
3. visualizar a distribuição das vendas ao longo do tempo através de gráficos.

|variável|descrição|
|-|-|
|ID                     | Identificador único de cada curso vendido |
|Nome do Curso          | Nome do curso vendido na plataforma|
|Quantidade de Vendas   | Número de vendas realizadas para cada curso|
|Preço Unitário         | Preço unitário do curso|
|Data                   | Data da venda do curso|

In [45]:
df = pd.read_csv('dados.csv')
df.head(10)

,ID,Nome do Curso,Quantidade de Vendas,Preço Unitário,Data
0,1,Introdução à Programação em Python,50,39.9,2023-01-01
1,2,Desenvolvimento Web com HTML e CSS,30,59.9,2023-01-02
2,3,JavaScript Avançado: Frameworks e Bibliotecas,20,79.9,2023-01-03
3,4,Introdução ao Machine Learning,15,99.9,2023-01-04
4,5,Desenvolvimento Mobile com React Native,25,69.9,2023-01-05
5,6,Arquitetura de Microserviços,12,89.9,2023-01-06
6,7,Banco de Dados SQL e NoSQL,18,79.9,2023-01-07
7,8,Segurança da Informação: Fundamentos,10,109.9,2023-01-08
8,9,Cloud Computing com AWS,22,99.9,2023-01-09
9,10,DevOps: Integração e Entrega Contínua,8,119.9,2023-01-10

In [46]:
df.dtypes

ID                        int64
Nome do Curso            object
Quantidade de Vendas      int64
Preço Unitário          float64
Data                     object
dtype: object

### Nesse inicio importei as bibliotecas pandas, matplotlib e seaborn, coloquei as identificações de variaveis e suas descrições, mostrei apenas as 10 primeiras linhas e puxei os tipos de dados para ter uma ideia com o que irei trabalhar.

In [47]:
df['total_receita'] = df['Quantidade de Vendas'] * df['Preço Unitário']
df.head(10)

,ID,Nome do Curso,Quantidade de Vendas,Preço Unitário,Data,total_receita
0,1,Introdução à Programação em Python,50,39.9,2023-01-01,1995.0
1,2,Desenvolvimento Web com HTML e CSS,30,59.9,2023-01-02,1797.0
2,3,JavaScript Avançado: Frameworks e Bibliotecas,20,79.9,2023-01-03,1598.0
3,4,Introdução ao Machine Learning,15,99.9,2023-01-04,1498.5
4,5,Desenvolvimento Mobile com React Native,25,69.9,2023-01-05,1747.5
5,6,Arquitetura de Microserviços,12,89.9,2023-01-06,1078.8
6,7,Banco de Dados SQL e NoSQL,18,79.9,2023-01-07,1438.2
7,8,Segurança da Informação: Fundamentos,10,109.9,2023-01-08,1099.0
8,9,Cloud Computing com AWS,22,99.9,2023-01-09,2197.8
9,10,DevOps: Integração e Entrega Contínua,8,119.9,2023-01-10,959.2

In [48]:
receita_total = df['total_receita'].sum()
print(f'A receita total gerada pela venda dos cursos é :R$ {receita_total:.2f} reais')

A receita total gerada pela venda dos cursos é :R$ 32735.10 reais

### Com as 2 células acima descobri a receita total gerada pela venda dos cursos. Na primeira célula criei uma nova coluna chamada "total_receita" na qual adicionei a receita adquirida pela venda total de cada curso. Na segunda célula atribui a uma variável chamada "receita_total" a soma da coluna "total_receita", para isso utilizei o ".sum()" e então printei a receita.